<html>
  <head>
   	<meta charset="utf-8">
   	<title>Socket</title>
    	<style>
  
    	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript">
        console.log("canvas Test");
        
        var boardSize=800;
        
        $(function(){
            
            $('#testCanvas').attr("width",boardSize).attr('height',boardSize);
            
            var canvas = document.getElementById("testCanvas");
            var ctx = canvas.getContext('2d');
            
            ctx.fillStyle="rgb(0,255,0)";
            ctx.fillRect(0,0,boardSize,boardSize);
            
        });
	</script>
  </head>
  <body>
   	<canvas id="testCanvas" width="150" height="150"></canvas>
  </body>
</html>